<%- include('./partials/head') %>

<% sdgs.forEach (function (sdg){ %>
    <section>
<%= sdg.description %>, <img src="https://fdnd-agency.directus.app/assets/<%=sdg.icon%> alt="">
    </section>
<% }) %>



<%- include('./partials/foot') %>