<%- include('./partials/head') %>
<section>
<% sdgs.forEach (function (sdg){ %>
    
         <img src="https://fdnd-agency.directus.app/assets/<%=sdg.icon%> alt="">
    
<% }) %>



</section>


<%- include('./partials/foot') %>