:root {
    /* secundaire palette */
    --BGcolor:#272932;
    --PrimaryColor:#947eb0;
    --Secondarycolor:#519879;
    --TextColor:#ecf8f8;
    --Accentcolor:#fb8b24;

    /* Typography */
--heading1: 


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--BGcolor);
    color: var(--TextColor);
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 2em;
    font-family: halton, sans-serif;
    text-transform: uppercase;
    color: var(--TextColor);
}

h2 {
  text-align: center;
  font-size: 2em;
  font-family: halton, sans-serif;
  padding: 1.5em;

}

p {
  font-family: halton-italic, sans-serif;
  font-size: 1em;
}

img {
  scale: 0.3;
}

.temp{
white-space: pre-wrap;
text-align: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav {
    border-bottom: 1px solid var(--Accentcolor);
    & ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & li {
            padding: .8em;

            & a {
                color: var(--textcolor);
                text-decoration: none;
            }
        }
    }
}

svg {
  position: fixed;
  bottom: 0;
}